@media (max-width: 1440px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 1280px) {
    .info {
        text-align: center;
    }
    .address,
    .number,
    .email {
        float: none;
        display: inline-block;
        margin: 10px;
    }
}

@media (max-width: 1024px) {
    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-row .form-group {
        width: 48%;
    }
}

@media (max-width: 800px) {
    .form-row .form-group {
        width: 100%;
    }
    .info {
        display: block;
    }
}

@media (max-width: 768px) {
    .address, .number, .email {
        margin-left: 50px;
    }

    .contact h2 {
        font-size: 30px;
    }
    .address p{
        color:#7e7c7c ;
        font-size: 10px;
    }
    .number{
        float: left;
        margin-left: 20px;
    }
    .number p{
        color: #7e7c7c;
        font-size: 10px;
    }
    .email{
        float: left;
        margin-left: 40px;
    }
    .email a{
        font-size: 10px;
    }
    .container {
        width: 85%;
    }
    .form-row .form-group{
        width: 470px;
    }
    .form-group {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .form-group input,
    .form-group textarea {
        padding: 8px;
        font-size: 14px;
    }
    .container {
        padding: 15px;
    }
    .submit-btn {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .contact h2 {
        font-size: 30px;
    }
    .form-group input,
    .form-group textarea {
        font-size: 12px;
    }
    .form-group label {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .contact h2 {
        font-size: 25px;
    }
    .form-group input,
    .form-group textarea {
        font-size: 10px;
        padding: 5px;
    }
    .submit-btn {
        font-size: 10px;
        padding: 5px 10px;
    }
}
